<body>
  <input [(ngModel)]="screen">


  <body class="buttons">
    <button (click)="PressKey('C')">C</button>
    <button (click)="PressKey('%')">%</button>
    <button (click)="PressKey('+/-')">+/-</button>
    <button (click)="PressKey('/')">/</button>

    <button (click)="PressKey('7')">7</button>
    <button (click)="PressKey('8')">8</button>
    <button (click)="PressKey('9')">9</button>
    <button (click)="PressKey('X')">X</button>

    <button (click)="PressKey('4')">4</button>
    <button (click)="PressKey('5')">5</button>
    <button (click)="PressKey('6')">6</button>
    <button (click)="PressKey('-')">-</button>

    <button (click)="PressKey('1')">1</button>
    <button (click)="PressKey('2')">2</button>
    <button (click)="PressKey('3')">3</button>
    <button (click)="PressKey('+')">+</button>

    <button (click)="PressKey('0')">0</button>
    <button (click)="PressKey('.')">.</button>
    <button (click)="PressKey('<')"><</button>
    <button (click)="PressKey('=')">=</button>
  </body>
</body>
